{% comment %} <!DOCTYPE html>
<html>
<head>
    <title>Upload an image</title>
</head>
<body>
    <h1>Upload an image</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Upload</button>
    </form>
</body>
</html> {% endcomment %}

{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Upload an image</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>Upload an image</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Upload</button>
    </form>
</body>
</html>
